.first {
  background-color: rgb(231,190,137);
  position: relative;
  padding-top:10px;
  padding-bottom: 10px;
  border-bottom: 5px solid rgb(242,242,242);
}
.second{
  border-bottom: 5px solid rgb(242,242,242);
}

.jkwenzi{
  position: relative;
  left: 30px;
}

.knwenzi{
  font-size: 30px;
  position: relative;
  padding-top:13px;
  padding-bottom: 13px;
  left: 30px;
}
.s{
  color: #508BEF;
}
