.head{
  font-size: 25px;
}
.de_patient{
  font-family: 宋体;
  font-size: 27px;
  font-weight: bold;
  color: chocolate;
  margin-left: 20px;
  margin-top: 10px;
}
.preserve{
  font-family: 宋体;
  font-weight: bold;
  margin-top: 20px;
  width: 600px;
  margin-left: 70px;
}
.p_button{
  background-color: red;
}
