
.scrollview{
  border: 1px solid red;
}
.title{
  height: 7%;
  width: 100%;
  background-color: cornflowerblue;
}

.time{
  height: 5%;
  width: 100%;
  background-color: lightgray;
}

.content{
  height: 88%;
  width: 100%;
  background-color: lavender;
}
.isCollection{
  position: absolute;
  top: 5px;
  right: 10px;
}