.index {
  flex-direction: column;
  width: 100%;
}
.header{
  width: 100%;
  height: 100px;
  background-color:rgb(119,86,55);
}
.pageName{
  color: white;
  top: 20%;
  padding: 40%;
  position: relative;
}
.step{
  margin-top: 40px;
}
.information{
  height: 100px;
  width: 100%;
}
.icon{
  float: left;
  margin-top: 10px;
  position: relative;
}
.nickname{
  opacity: 0.5;
  font-size: 10pt;
  float: left;
  position: relative;
  margin-top: 10px;
  margin-left: 20px;
}
.sex{
  height: 100px;
  width: 100%;
  position: relative;
}
.text{
  font-size: 9.5pt;
  margin-left: 50px;
  margin-top: 30px;
  position: relative;
  float: left;
}
.tag{
  left: 55%;
  margin-top: 20px;
  position: relative;
  float: left;
}
.tag2{
  left: 59%;
  margin-top: 20px;
  position: relative;
  float: left;
}
.next{
  margin-top: 35%;
  width: 80%;
}



