.mainBody{
  margin: 30px 20px;
}
.title{
  font-weight: bold;
  font-size: 11.5pt;
}
.hospitalName{
  font-size: 8pt;
  position: relative;
  margin: 15px 0 0 0;
}
.describe{
  font-size: 10pt;
  position: relative;
  margin: 20px 0 0 0;
}
.cuttingLine1{
  position: relative;
  margin-top: -40px;
}
.mapPin{
  position: relative;
  margin: -85px 0 0 0;
}
.place{
  font-size: 10pt;
  position: relative;
  margin: -85px 0 0 50px;
}
.phoneNum{
  font-size: 10pt;
  position: relative;
  margin: -40px 0 0 50px;
}
.cuttingLine2{
  position: relative;
  margin: -35px 0 0 0;
}