.index {
  flex-direction: column;
  width: 100%;
  background-color: #fff;
}

.format{
  height: 100px;
  width: 100%;
  border:3px solid rgb(240,240,240);
  background-color: rgb(255,255,255);
}

.backgroundPicture{
  width: 100%;
  height: 1290px;
  background-color:rgb(240,240,240);
}

.word{
  position: relative;
  top: 28px;
  left: 70px;
  float: left;
}
.name{
  width: 220px;
  height: 70px;
  position: relative;
  left: 450px;
  top: 30px;
  float: left;
}

.headerPortrait{
  position: relative;
  left: 500px;
}

.man{
  width: 100px;
  height: 50px;
  float: left;
  margin-top:10px;
  left: 400px;
  top: 20px;
  border-radius: 35%;
  border:2px solid rgb(210,226,237);
}


button::after {
  border: none;
}
.manWord{
  position: relative;
  top: -10px;
  font-size: 30px;
}
.woman {
  width: 100px;
  height: 50px;
  float: left;
  margin-top: 10px;
  left: 430px;
  top: 20px;
  border-radius: 35%;
  border: 2px solid rgb(210, 226, 237);
}

.womanWord{
  position: relative;
  top: -10px;
  font-size: 30px;
}

.card{
  width: 250px;
  height: 100px;
  //background-color: red;
  position: relative;
  left: 250px;
  top: 8px;
  float: left;
}
.page-section{
  height: 100px;
  width: 250px;
}
.cardword{
  position: relative;
  top: 30px;
}

.blackArrow{
  position: relative;
  float: left;
  left: 235px;
  top: -75px;
}
.birthday{
  width: 280px;
  height: 100px;
  //background-color: red;
  position: relative;
  left: 280px;
  float: left;
  top: 8px;
}

.IDin{
  width: 220px;
  height: 70px;
  position: relative;
  left: 350px;
  top: 30px;
  float: left;
}

.phoneIn{
  width: 220px;
  height: 70px;
  //background-color: red;
  position: relative;
  left: 350px;
  top: 30px;
  float: left;
}

input,
input::-webkit-input-placeholder {
  font-size: 32px;
  line-height: 3;
  focus:ture;
  cursor: -1;
  selectionStart:0,
}

.save{
  position: relative;
  float: left;
  width: 300px;
  height: 100px;
  background-color: red;
  color:rgb(255,255,255);
  left: 200px;
  top: 100px;
}

.choose{
  background-color: #508BEF;
  color: #FFFFFF;
}
.noChoose{
  background-color: white;
  color: #000000;
}